{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}申请采购{% endblock %}

{% block allcontent %}

<div class="ui grid" style="margin-top:10px">
    <div class="one column row">
        <div class="column">
            <h2 class="ui header" style="margin-top:10px; margin-left:10px">申请采购</h2>
        </div>
        <div class="column">
            <form id="add-goods-form" method="post" action='{% url "goods.views.apply_goods" %}'>
                <div class="ui form fluid segment" id="form-segment"> <!--error loading-->
                    <div class="ui error message">
                        <div class="header">错误</div>
                        <p></p>
                    </div>
                    <div class="four fields">
                        <div class="field fluid">
                            <label>实物名称</label>
                            <input placeholder="实物名称" type="text" name="name" id="name">
                        </div>
                        <div class="field fluid">
                            <label>起始SN号</label>
                            <input placeholder="实物SN号" type="text" name="sn" id="sn">
                        </div>
                        <div class="field" id="type">
                            <label>实物类型</label>

                            <div class="ui selection dropdown fluid">
                                <input type="hidden" value="{{ type_list.0 }}" name="type_name" id="type_name">

                                <div class="text" id="type_name_text">{{ type_list.0 }}</div>
                                <i class="dropdown icon"></i>

                                <div class="menu"> <!--type_list-->
                                    {% for type in type_list %}
                                    <div class="item type-element" data-value="{{ type }}">{{ type }}</div>
                                    {% endfor %}

                                    <!--OnionYST-->
                                    <div class="item type-element" data-value="新增实物类型">
                                        <font color="#A1CF64">新增实物类型</font>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="field fluid">
                            <label>实物数量</label>
                            <input placeholder="实物数量" type="text" id="quantity" disabled>
                        </div>
                    </div>
                    <span id="properties">

                    </span>

                    <!--OnionYST-->
                    <div class="ui horizontal divider">采购申请说明</div>
                    <div class="field">
                        <input placeholder="采购申请说明" type="text" name="note" id="note">
                    </div>

                    <input type="hidden" name="ext_num" id="ext_num">

                    <button type="button" class="ui green button" id="submit-button">提交采购申请</button>

                    <style type="text/css">#new-pro-button { float: right; margin-right: 5px; }</style>
                    <style type="text/css">#del-pro-button { float: right; }</style>
                    <div class="ui black button" id="del-pro-button">删除属性</div>
                    <div class="ui blue button" id="new-pro-button">添加新属性</div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>

var pro_origin = 1;
var pro_num = 1;
var pro_max = 32;

var origin_type_name;
var error_info='';

$(function () {
    // 更新数量
    $('#sn').keyup(function () {
        var snArray = $('#sn').val().split(',');
        var snQuantity = 0;
        var snLength = snArray.length;
        for (var i = 0; i < snLength; i++) {
            if (snArray[i] != '')
                snQuantity++;
        }
        $('#quantity').val(snQuantity);
    });
    $('.ui.dropdown').dropdown();
    //更新属性信息
    $('.type-element').click(function () {
        //alert($('#type_name').val());
        update_type_pros();
    });
    update_type_pros();
    //提交
    $('#submit-button').click(function () {
        if ($('#name').val().length <= 0) {
            $('#form-segment').addClass('error');
            $('#name').parent().addClass('error');
            $('.error.message').children('p').text('实物名称不能为空');
            error_info = 'name';
            return;
        }
        if ($('#sn').val().length <= 0) {
            $('#form-segment').addClass('error');
            $('#sn').parent().addClass('error');
            $('.error.message').children('p').text('SN号不能为空');
            error_info = 'sn';
            return;
        }
        var regexp = /^[1-9][0-9]*$/;
        if (!regexp.test($('#quantity').val())) {
            $('#form-segment').addClass('error');
            $('#quantity').parent().addClass('error');
            $('.error.message').children('p').text('实物数量需要是大于0的合法值');
            error_info = 'quantity';
            return;
        }
        $('.pro_name_required').parent().removeClass('error');
        for (var i = pro_origin + 1; i <= pro_num; ++i) {
            if ($('#pro' + i + '_name').val().length <= 0) {
                $('#form-segment').addClass('error');
                $('#pro' + i + '_name').parent().addClass('error');
                $('.error.message').children('p').text('实物属性名称不能为空');
                error_info = 'pro' + i + '_name';
                return;
            }
        }
        $('#ext_num').attr('value', pro_num - pro_origin);

        $('#add-goods-form').trigger('submit');
    });
    $('#name').click(function () {
        if (error_info == 'name') {
            $('#form-segment').removeClass('error');
            $('#name').parent().removeClass('error');
        }
    });
    $('#sn').click(function () {
        if (error_info == 'sn') {
            $('#form-segment').removeClass('error');
            $('#sn').parent().removeClass('error');
        }
    });
    $('#quantity').click(function () {
        if (error_info == 'quantity') {
            $('#form-segment').removeClass('error');
            $('#quantity').parent().removeClass('error');
        }
    });

    $('#new-pro-button').click(function () {
        $('#form-segment').removeClass('error');
        $('input').parent().removeClass('error');
        if (pro_num >= pro_max) {
            $('#form-segment').addClass('error');
            $('.error.message').children('p').text('属性数量已达上限');
            error_info = 'new_pro';
            $('input').click(function () {
                if (error_info == 'new_pro') {
                    $('$form-segment').removeClass('error');
                }
            });
        } else {
            pro_num += 1;
            $('#properties').append(''
                + '<div class="two fields" id="pro' + pro_num + '">'
                    + '<div class="field fluid">'
                        + '<label>属性' + pro_num + '的名称</label>'
                        + '<input class="pro_name_required" placeholder="属性' + pro_num + '的名称" type="text" id="pro' + pro_num + '_name" name="pro' + pro_num + '_name">'
                    + '</div>'
                    + '<div class="field fluid">'
                        + '<label>属性值</label>'
                        + '<input placeholder="属性值" type="text" id="pro' + pro_num + '_value" name="pro' + pro_num + '_value">'
                    + '</div>'
                + '</div>'
            );
            $('.pro_name_required').click(function () {
                if (error_info == this.name) {
                    $('#form-segment').removeClass('error');
                    $('#' + this.name).parent().removeClass('error');
                }
            });
        }
    });

    $('#del-pro-button').click(function () {
        $('#form-segment').removeClass('error');
        $('input').parent().removeClass('error');
        if (pro_num <= pro_origin) {
            $('#form-segment').addClass('error');
            $('.error.message').children('p').text('不能删除该属性');
            error_info = 'del_pro';
            $('input').click(function () {
                if (error_info == 'del_pro') {
                    $('#form-segment').removeClass('error');
                }
            });
        } else {
            $('#properties').children('div:last-child').remove();
            pro_num--;
        }
    });
});


function update_type_pros() {

    if ($('#type_name').val() == "新增实物类型") {
        pro_origin = 0;
        pro_num = 1;
        $('#properties').children().remove();
        $('#properties').append(''
            + '<div class="ui horizontal divider">类型信息</div>'
            + '<div class="field">'
                + '<label>类型名称</label>'
                + '<input placeholder="类型名称" type="text" id="type_name" name="type_name">'
            + '</div>'
            + '<div class="two fields" id="pro' + pro_num + '">'
                + '<div class="field fluid">'
                    + '<label>属性' + pro_num + '的名称</label>'
                    + '<input placeholder="属性' + pro_num + '的名称" type="text" id="pro' + pro_num + '_name" name="pro' + pro_num + '_name">'
                + '</div>'
                + '<div class="field fluid">'
                    + '<label>属性值</label>'
                    + '<input placeholder="属性值" type="text" id="pro' + pro_num + '_value" name="pro' + pro_num + '_value">'
                + '</div>'
            + '</div>'
        );
        return;
    }

    $.ajax({
        url: '{% url "goods.views.do_type_props" %}',
        type: 'POST',
        dataType: 'JSON',
        data: {
            type_name: $('#type_name').val()
        },
    }).done(function (data) {
        //从后端获得新数据
        $('#properties').children().remove();
        pro_origin = data.pro_names.length;
        pro_num = pro_origin;
        for (var i = 0; i < pro_num; i++) {
            if (data.pro_names[i].length > 0) {
                $('#properties').append(
                    '<div class="field" id="pro' + (i + 1) + '">'
                    + '<label id="pro' + (i + 1) + '_name">' + data.pro_names[i] + '</label>'
                    + '<input placeholder="属性值" type="text" name="pro' + (i + 1) + '_value" id="pro' + (i + 1) + '_value">'
                    + '</div>'
                );
            }
        }
    }).fail(function () {
        alert('服务器异常，无法修改实物类型');
    });
}

</script>
{% endblock %}
