<div class="ui segment">
  <div class="ui top attached header">
    <div class="ui horizontal green label">编号 0001</div>
    <div class="ui horizontal green label">类型 实体资源</div>
    用户真实姓名：张敬卿
  </div>
  <div class="ui attached segment">
    <div class="ui divided selection list">
      <a class="item">
        <div class="ui green horizontal label">申请理由</div>
        图形学大作业光线追踪，借服务器跑程序
      </a>
      <a class="item">
        <div class="ui green horizontal label" style="margin-top:5px">配置要求</div>
        <div class="ui horizontal label" style="margin-top:5px">cpu</div>
        <div class="ui horizontal label" style="margin-top:5px">memory</div>
        <div class="ui horizontal label" style="margin-top:5px">disktype</div>
        <div class="ui horizontal label" style="margin-top:5px">disk</div>
        <div class="ui horizontal label" style="margin-top:5px">ip</div>
        <div class="ui horizontal label" style="margin-top:5px">os</div>
      </a>
      <a class="item">
        <div class="ui green horizontal label">时间期限</div>
        2014.10.10-2014.11.11
      </a>
      <a class="item">
        <div class="ui green horizontal label">申请登陆用户名</div>
        JingqingZ
      </a>
      <a class="item">
        <div class="ui green horizontal label">申请初始密码</div>
        1234567890
      </a>
      <div class="ui grid">
        <div class="two column row">
          <div class="column"> 
            <div class="positive ui tiny circular button floated right fluid agree-button" data-variation="inverted" data-position="top center" data-html='
            <h5 class="ui header">同意配置调整</h5>
            <div class="ui form">
              <div class="inline field">
                  <label><font color="#FFFFFF">地址</font></label>
                  <input type="text" placeholder="服务器地址">
              </div>
              <div class="inline field">
                  <label><font color="#FFFFFF">账号</font></label>
                  <input type="text" placeholder="登陆用户名" value="JingqingZ">
              </div>
              <div class="inline field">
                  <label><font color="#FFFFFF">密码</font></label>
                  <input type="text" placeholder="初始登陆密码" value="1234567890">
              </div>
              <div class="inline field">
                  <label><font color="#FFFFFF">说明</font></label>
                  <input type="text" placeholder="附加说明">
              </div>
            </div>
            <div class="positive ui tiny circular button floated right fluid agree-confirm-button">确认同意</div>
            '>同意</div>
          </div>
          <div class="column">
            <div class="negative ui tiny circular button floated right fluid reject-button" data-variation="inverted" data-position="top center" data-html='
            <h5 class="ui header">拒绝配置调整</h5>
            <div class="ui form">
              <div class="inline field">
                  <label><font color="#FFFFFF">说明</font></label>
                  <input type="text" placeholder="附加说明">
              </div>
            <div class="negative ui tiny circular button floated right fluid reject-confirm-button">确认拒绝</div>
            </div>'>拒绝</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>