<h5 class="ui header">{{ title }}</h5>
<form method="post" action="{% url url %}">
    <input type="text" name="id" value="{{ item.id }}" hidden>

    <div class="ui form">
        <div class="inline field">
            <label><font color="#FFFFFF">{{ explanation }}</font></label>
            <input type="text" name="note" placeholder={{ placeholder }}>
        </div>
    </div>
    <div class="positive ui tiny circular button floated right fluid agree-confirm-button">确认</div>
</form>
<script type="text/javascript">
    $(".agree-confirm-button").click(function () {
        $(this).parent().trigger("submit");
    });
</script>
