<h5 class="ui header">{{ title }}</h5>
<form method="post" action="{% url url %}">
    <input type="text" name="id" value="{{ item.id }}" hidden>
    <div class="positive ui tiny circular button floated right fluid ok-button">确认</div>
{#    <div class="negative ui tiny circular button floated right fluid cancel-button">取消</div>#}
</form>
<script type="text/javascript">
    $(".ok-button").click(function () {
        $(this).parent().trigger("submit");
    });
    $(".cancel-button").click(function () {
        $(this).parent().parent().parent().trigger("click");
    });
</script>
