{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}数据导入/导出{% endblock %}

{% block leftside %}

{% block css %}

<style type="text/css">
    .UploadPath{
        float:left;
		padding:5px;
		color:#999;
		height:24px;
		line-height:24px;
		border:1px #ccc solid;
		width:160px;
		margin-right:4px;
        font: 14px "Microsoft YaHei", Verdana, Geneva, sans-serif;
    }
    .box{
        position:relative;
		float:left;
    }
    .FileInput{
		position:relative;
		right:0px;
		top:0px;
		opacity:0;
		filter:alpha(opacity=0);
		cursor:pointer;
		height:36px;
		overflow: hidden;
	}
    .ChooseFile{
		float:left;
		display:inline-block;
		padding:4px 16px;
		color:white;
		font:14px "Microsoft YaHei", Verdana, Geneva, sans-serif;
		cursor:pointer;
		background-color:purple;
		line-height:28px;
		text-decoration:none;
	}
</style>

{% endblock %}

<div class="ui vertical menu">
    <div class="header item">
        <i class="cloud icon"></i>
        数据库
    </div>
    <a href='{% url "excel.views.export_database" %}' class="ui blue button fluid">导出数据库</a>
    <br/>
    <form enctype="multipart/form-data" action="" method="POST" id="xml-form">
        <div class="box">
            <input type="text" id="DBUploadPath" class="UploadPath" value="Upload Path" disabled />
            <a href="javascript:void(0);" class="ChooseFile" onclick="UploadClick(this)">浏览</a>
            <input type="file" name="xml" class="FileInput" onchange="UpdatePath(this)" hidden />
        </div>
        <br/>
        <input id="xml-btn" type="button" class="ui red button fluid" value="导入数据库">
    </form>
</div>

<br/>
<div class="ui vertical menu">
    <div class="header item">
        <i class="cloud icon"></i>
        Excel
    </div>
    <a href='{% url "excel.views.export_excel" %}' class="ui button green fluid">导出Excel</a>
    <br/>
    <form enctype="multipart/form-data" action="" method="POST" id="excel-form">

        <!--<div class="ui form fluid">
            <div class="field">
                <label>导入Excel</label>
                <input type="file" name="xlsx" />
            </div>
        </div>-->
        <div class="box">
            <input type="text" id="ExcelUploadPath" class="UploadPath" value="Upload Path" disabled />
            <a href="javascript:void(0);" class="ChooseFile" onclick="UploadClick(this)">浏览</a>
            <input type="file" name="xlsx" class="FileInput" onchange="UpdatePath(this)" hidden />
        </div>
        <br/>
        <input id="excel-btn" type="button" class="ui red button fluid" value="导入Excel">
    </form>
</div>


{% endblock %}

{% block content %}
<div class="ui small modal" id="xml-confirm">
    <div class="header">操作确认</div>
    <div class="content">
        <div class="left"><i id="xml-confirm-icon"></i></div>
        <div class="right">
            <p>您确定要导入数据库吗？</p>
        </div>
    </div>
    <div class="actions">
        <div class="two fluid ui buttons">
            <div class="ui positive labeled icon button">
                <i class="checkmark icon"></i>
                确认
            </div>
            <div class="ui negative right labeled icon button">
                <i class="remove icon"></i>
                取消
            </div>
        </div>
    </div>
</div>
<div class="ui small modal" id="excel-confirm">
    <div class="header">操作确认</div>
    <div class="content">
        <div class="left"><i id="confirm-icon"></i></div>
        <div class="right">
            <p>您确定要导入Excel吗？</p>
        </div>
    </div>
    <div class="actions">
        <div class="two fluid ui buttons">
            <div class="ui positive labeled icon button">
                <i class="checkmark icon"></i>
                确认
            </div>
            <div class="ui negative right labeled icon button">
                <i class="remove icon"></i>
                取消
            </div>
        </div>
    </div>
</div>
<div id="mainContent">
    <div class="content">
        <h1 div class="ui header">
            <i class="large star inverted circular icon"></i>
            数据库导出/导入
        </h1>
        <blockquote>
            <div class="sub header"><p>单击导出数据库按钮，可以创建一个数据库文件，用于备份恢复数据库。</p>

                <p>单击浏览按钮，选择文件之后单击导入数据库，可以导入本系统创建的数据库文件。</p></div>
            <h3 div class="header">请不要修改该文件，会引起上传失败。导入数据库会清空当前数据库，若数据损坏或与该数据库不符，会导致系统数据全部丢失！！！</h3>
        </blockquote>
    </div>
    <br><br><br>

    <div class="content">
        <h1 div class="ui header">
            <i class="large star inverted circular icon"></i>
            Excel导出/导入
        </h1>
        <blockquote>
            <div class="sub header"><p>单击导出Excel按钮，可以创建一个Excel文件，用于备份和修改物品和计算资源信息。</p>

                <p>单击浏览按钮，选择文件之后单击导入Excel文件，可以导入本系统创建的Excel文件。</p>

                <p>Excel的格式约定如下：<br>
                <blockquote>
                    <div class="ui ordered list">
                        <a class="item">文件有4个工作簿，依次为在库物品、借出物品、申请物资、计算资源。</a>
                        <a class="item">在上述的4个工作簿中，在库物品与计算资源可以修改并导入，借出物品与申请物资为只读部分。</a>
                        <a class="item">工作簿的格式详见导出后的文件，特别的，物品属性为连续的一些单元格组成，其中每一格内由“属性名 : 值”的形式。</a>
                        <a class="item">为保证数据库安全，在导入时，对工作簿的信息检查是严格的。即表格必须符合格式要求，且相关数据合法，否则导入将失败。</a>
                    </div>
                </blockquote>
                </p>
            </div>
            <h3 div class="header">在上传完成后，请确认数据正确后再次确认，或单击全部提交进行修改。</h3>
        </blockquote>
    </div>
</div>
<div class="ui small modal" id="info">
    <div class="header">提示</div>
    <div class="content">
        <p></p>
    </div>
</div>
{% endblock %}



{% block js %}
<script src="{% static "javascript/jquery.form.js" %}"></script>
<script type="text/javascript">
    function UpdatePath(obj){
        if($(obj).val()=='')
            $(obj).val('Upload Path');
        var cc = $(obj).val().split("\\");
        $(obj).parent().children(".UploadPath").val(cc[cc.length-1]);
    }
    function UploadClick(obj){
        $(obj).parent().children(".FileInput").trigger("click");
    }
</script>
<script>
$(function(){
    $('#excel-confirm .positive.button').click(function() {
        $("#excel-form").ajaxSubmit({
            type:'post',
            url:'',
            success:function(data){
                $("#mainContent").html(data);
                Loaded()
            },
        });
    });
    $('#xml-confirm .positive.button').click(function() {
        $("#xml-form").ajaxSubmit({
            type:'post',
            url:'',
            success:function(data){
                $("#mainContent").html(data);
            },
        });
    });
    $("#excel-btn").on("click",function(){
        if($('#ExcelUploadPath').val() == "Upload Path")
        {
            $('#info').modal('show');
            $('#info').children('.content').children('p').text("请先通过浏览按钮选中您要导入的Excel文件");
            return;
        }
        $('#excel-confirm').modal('show');
    });
    $("#xml-btn").on("click",function(){
        if($('#DBUploadPath').val() == "Upload Path")
        {
            $('#info').modal('show');
            $('#info').children('.content').children('p').text("请先通过浏览按钮选中您要导入的xml文件");
            return;
        }
        $('#xml-confirm').modal('show');
    });
});
</script>


{% endblock %}