{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}数据导入/导出{% endblock %}

{% block content %}

    <a href='{% url "excel.views.export_database" %}' class="ui blue button fluid">导出数据</a  >

    <form enctype="multipart/form-data" action="" method="POST">
        <div class="ui form fluid">
            <div class="field">
                <label>选择文件</label>
                <input type="file" name="file" />
            </div>
        </div>
        <button type="submit" class="ui green button fluid">导入数据</button>
    </form>

{% endblock %}
