{% load static from staticfiles %}
<h2 class="ui header" style="margin-top:10px; margin-left:10px">实物修改列表</h2>
<table class="ui table segment small" style="margin-left:10px">
    <thead>
    <tr>
        <th>修改类型</th>
        <th>物品名称</th>
        <th>SN号</th>
        <th>物品种类</th>
        <th>物品属性</th>
        <th>确认</th>
    </tr>
    </thead>
    <tbody>
    {% for goods in goods_list %}
        {% if goods.type == "create" %}
            <tr class="positive">
            <td class="change-type">创建</td>
        {% else %}
            <tr class="negative">
            <td class="change-type">修改</td>
        {% endif %}
        <td class="goods-name">{{ goods.name }}</td>
        <td class="goods-sn">{{ goods.sn }}</td>
        <td class="goods-typename">{{ goods.type_name }}</td>
        <td>
            <div class="ui basic button tiny config-detail" data-variation="inverted" data-html='
            {% for pro in goods.prop %}
              {% if pro.pro_name != "" %}
              <div class="ui label" style="margin-top:5px">{{ pro.pro_name }}: {{ pro.pro_value }}</div>
              {% endif %}
            {% endfor %}'>详细
            </div>
        </td>
        <td>
            <div class="ui toggle checkbox goods" id="goods-checkbox-div-{{goods.id}}">
                <input id="goods-checkbox-{{goods.id}}" type="checkbox">
                <label></label>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!--<div class="ui right aligned basic segment">-->
    <!--<input id="goods-btn" type="button" class="ui positive button" value="提交修改">-->
<!--</div>-->

<h2 class="ui header" style="margin-top:10px; margin-left:10px">计算资源修改列表</h2>
<table class="ui table segment small" style="margin-left:10px">
    <thead>
    <tr>
        <th>修改类型</th>
        <th>资源名</th>
        <th>SN号</th>
        <th>借用者</th>
        <th>借用状态</th>
        <th>套餐名</th>
        <th>配置</th>
        <th>期满时间</th>
        <th>登陆方式</th>
        <th>重要标签</th>
        <th>确认</th>
    </tr>
    </thead>
    <tbody>
    {% for computing in computing_list %}
        {% if computing.type == "create" %}
            <tr class="positive">
            <td class="change-type">创建</td>
        {% else %}
            <tr class="negative">
            <td class="change-type">修改</td>
        {% endif %}
        <td class="computing-name">{{ computing.name }}</td>
        <td class="computing-sn">{{ computing.sn }}</td>
        <td class="computing-user">{{ computing.user }}</td>
        <td class="computing-status">{{ computing.status }}</td>
        <td class="computing-pack_name">{{ computing.pack_name }}</td>
        <td>
            <div class="ui basic button tiny config-detail" data-variation="inverted" data-html='
              <div class="ui label" style="margin-top:5px">资源种类: {{ computing.pc_type }}</div>
              <div class="ui label" style="margin-top:5px">CPU: {{ computing.cpu }}</div>
              <div class="ui label" style="margin-top:5px">内存: {{ computing.memory }}</div>
              <div class="ui label" style="margin-top:5px">硬盘: {{ computing.disk_type }}-{{ computing.disk }}</div>
              <div class="ui label" style="margin-top:5px">操作系统: {{ computing.os }}</div>
            '>详情
            </div>
        </td>
        <td class="computing-expire_time">{{ computing.expire_time }}</td>
        <td>
            <div class="ui basic button tiny config-detail" data-variation="inverted" data-html='
              <div class="ui label" style="margin-top:5px">用户名: {{ computing.login }}</div>
              <div class="ui label" style="margin-top:5px">密码: {{ computing.password }}</div>
              <div class="ui label" style="margin-top:5px">IP: {{ computing.ip }}</div>
            '>详情
            </div>
        </td>
        {% if computing.flag == 'True' %}
            <td>
                <div class="ui basic button tiny config-detail" data-variation="inverted" data-html='
                  <div class="ui label" style="margin-top:5px">数据内容: {{ computing.data_content }}</div>
                '><i class="flag red icon"></i>
                </div>
            </td>
        {% else %}
            <td>
                <div class="ui disabled red button tiny config-detail" ><i class="flag icon"></i></div>
            </td>
        {% endif %}
        <td>
            <div class="ui toggle checkbox computing" id="computing-checkbox-div-{{computing.id}}">
                <input id="computing-checkbox-{{computing.id}}" type="checkbox">
                <label></label>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!--<div class="ui right aligned basic segment">-->
    <!--<input id="computing-btn" type="button" class="ui positive button" value="提交修改">-->
<!--</div>-->

<script src="{% static "javascript/semantic.min.js" %}"></script>
<script src="{% static "javascript/aglaia.js" %}"></script>
<script>
function Loaded(){
	$('.config-detail').popup({
		on: 'hover'
	});
    $('.goods.checkbox').checkbox({
        onChange   : function() {
            {% for goods in goods_list %}
                if($("#goods-checkbox-{{goods.id}}").is(':checked')){
                    var url = '{% url "excel.views.import_goods" %}';
                    var data = {'type':"{{goods.type}}",
                                'name':"{{goods.name}}",
                                'sn':"{{goods.sn}}",
                                'type_name':"{{goods.type_name}}",
                                'pro_values':"{{goods.values}}"
                               };
                    $.ajax({
                        type : "post",
                        url : url,
                        data : data,
                        async: true,
                        success: function(data){
                            $("#goods-checkbox-div-{{goods.id}}").html(data)
                        },
                        error: function(){
                            alert("修改出错，请重试");
                        }
                    });
                }
            {% endfor %}
        }
	});
    $('.computing.checkbox').checkbox({
        onChange   : function() {
            {% for computing in computing_list %}
                if($("#computing-checkbox-{{computing.id}}").is(':checked')){
                    var url = '{% url "excel.views.import_computing" %}';
                    var data = {'type':"{{computing.type}}",
                                'name':"{{computing.name}}",
                                'sn':"{{computing.sn}}",
                                'user': "{{computing.user}}",
                                'status': "{{computing.status}}",
                                'pack_name': "{{computing.pack_name}}",
                                'pc_type': "{{computing.pc_type}}",
                                'cpu': "{{computing.cpu}}",
                                'memory': "{{computing.memory}}",
                                'disk_type': "{{computing.disk_type}}",
                                'disk': "{{computing.disk}}",
                                'os': "{{computing.os}}",
                                'expire_time': "{{computing.expire_time}}",
                                'login': "{{computing.login}}",
                                'password': "{{computing.password}}",
                                'ip': "{{computing.ip}}",
                                'flag': "{{computing.flag}}",
                                'data_content': "{{computing.data_content}}",
                               };
                    $.ajax({
                        type : "post",
                        url : url,
                        data : data,
                        async: true,
                        success: function(data){
                            $("#computing-checkbox-div-{{computing.id}}").html(data)
                        },
                        error: function(){
                            alert("修改出错，请重试");
                        }
                    });
                }
            {% endfor %}
        }
	});
}
</script>