{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}实物资源管理{% endblock %}

{% block leftside %}
    <div class="ui vertical menu">
        <div class="header item">
            <i class="cloud icon"></i>
            实物资源管理
        </div>
        <div class="item">
            <div class="menu">
                <a href="#b-r" class="item">
                    借用请求列表
                    <div class="ui label">{{ borrow_requests|length }}</div>
                </a>
                <a href="#r-r" class="item">
                    归还请求列表
                    <div class="ui label">{{ return_requests|length }}</div>
                </a>
                <a href="#bp-r" class="item">
                    已同意借用的请求列表
                    <div class="ui label">{{ borrow_pending_requests|length }}</div>
                </a>
                <a href="#rp-r" class="item">
                    已同意归还的请求列表
                    <div class="ui label">{{ return_pending_requests|length }}</div>
                </a>
                <a href="#tr-r" class="item">
                    待审核维修的请求列表
                    <div class="ui label">{{ torepair_requests|length }}</div>
                </a>
                <a href="#rr-r" class="item">
                    已审核维修的请求列表
                    <div class="ui label">{{ repair_requests|length }}</div>
                </a>
                <a href="#ri-r" class="item">
                    维修中的请求列表
                    <div class="ui label">{{ repairing_requests|length }}</div>
                </a>
                <a href="#rd-r" class="item">
                    维修完成的请求列表
                    <div class="ui label">{{ repaired_requests|length }}</div>
                </a>
                <a href="#td-r" class="item">
                    待审核销毁的请求列表
                    <div class="ui label">{{ todestroy_requests|length }}</div>
                </a>
	            <a href="#tga-r" class="item">
                    待审核采购的请求列表
                    <div class="ui label">{{ goods_apply_requests|length }}</div>
                </a>
                </a>

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!--借用请求列表-->
    {% if borrow_requests %}
        <h3 id="b-r" class="ui header top attached" style="margin-top:10px"><font color="#F05940">借用</font>请求列表</h3>
        <table class="ui small segment table attached">
            <thead>
            <tr>
                <th>SN</th>
                <th>实物</th>
                <th>借用者</th>
                <th>说明</th>
                <th>操作</th>
            </tr>

            </thead>
            <tbody>
            {% for borrow in borrow_requests %}
                <tr>
                    <td>{{ borrow.sn }}</td>
                    <td>{{ borrow.goods_name }}</td>
                    <td>{{ borrow.borrower_name }}</td>
                    <td>{{ borrow.note }}</td>
                    <td>
                        <a class="positive ui tiny circular button agree-button" data-variation="inverted"
                           data-position="top center" data-html='
	                  <span>
		                  <h5 class="ui header">同意借用</h5>
		                  <form method="post" action="{% url "goods.views.do_accept_borrow" %}">
			                  <div class="ui form">
			                    <div class="inline field" hidden>
			                        <label><font color="#FFFFFF">请求编号</font></label>
			                        <input type="text" placeholder="id" id="id" name="id" value="{{ borrow.id }}">
			                    </div>
			                    <div class="inline field">
			                        <label><font color="#FFFFFF">实物名称</font></label>
			                        <input type="text" placeholder="实物名称" id="name" name="name" value="{{ borrow.goods_name }}" disabled>
			                    </div>
			                    <div class="inline field">
			                        <label><font color="#FFFFFF">附加说明</font></label>
			                        <input type="text" placeholder="编辑说明" id="note" name="note" value="">
			                    </div>
			                  </div>
		                  </form>
		                  <div class="positive ui tiny circular button floated right fluid borrow-agree-confirm-button">确认同意</div>
		                  <script type="text/javascript">
							$(".borrow-agree-confirm-button").click(function(){
						    	$(this).parent().children("form").trigger("submit");
						    });
		                  </script>
	              	 </span>
	          '>
                            借出
                        </a>
                        <a class="negative ui tiny circular button reject-button" data-variation="inverted"
                           data-position="top center" data-html='
	                  <span>
		                  <h5 class="ui header">拒绝借用</h5>
		                  <form  method="post" action="{% url "goods.views.do_reject_borrow" %}">
			                  <div class="ui form">
			                    <div class="inline field" hidden>
			                        <label><font color="#FFFFFF">请求编号</font></label>
			                        <input type="text" placeholder="id" id="id" name="id" value="{{ borrow.id }}">
			                    </div>
			                    <div class="inline field">
			                        <label><font color="#FFFFFF">实物名称</font></label>
			                        <input type="text" placeholder="实物名称" id="name" name="name" value="{{ borrow.goods_name }}" disabled>
			                    </div>
			                    <div class="inline field">
			                        <label><font color="#FFFFFF">附加说明</font></label>
			                        <input type="text" placeholder="编辑说明" id="note" name="note" value="">
			                    </div>
			                  </div>
		                  </form>
		                  <div class="negative ui tiny circular button floated right fluid borrow-reject-confirm-button">确认拒绝</div>
		                  <script type="text/javascript">
							$(".borrow-reject-confirm-button").click(function(){
						    	$(this).parent().children("form").trigger("submit");
						    });
		                  </script>
	              	 </span>
	              	 '>
                            拒绝
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="ui divider"></div>
    {% endif %}

    <!--归还请求列表-->
    {% if return_requests %}
        <h3 id="r-r" class="ui header top attached" style="margin-top:10px"><font color="#F05940">归还</font>请求列表</h3>
        <table class="ui table segment small attached">
            <thead>
            <tr>
                <th>SN</th>
                <th>实物</th>
                <th>借用者</th>
                <th>说明</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for return in return_requests %}
                <tr>
                    <td>{{ return.sn }}</td>
                    <td>{{ return.goods_name }}</td>
                    <td>{{ return.borrower_name }}</td>
                    <td>{{ return.note }}</td>
                    <td>
                        <a class="positive ui tiny circular button  agree-button" data-variation="inverted"
                           data-position="top center" data-html='
	                  <span>
		                  <h5 class="ui header">同意归还</h5>
		                  <form  method="post" action="{% url "goods.views.do_accept_return" %}">
		                  	<input type="hidden" name="lost" value="false">
			                  <div class="ui form">
			                    <div class="inline field" hidden>
			                        <label><font color="#FFFFFF">请求编号</font></label>
			                        <input type="text" placeholder="id" id="id" name="id" value="{{ return.id }}">
			                    </div>
			                    <div class="inline field">
			                        <label><font color="#FFFFFF">实物名称</font></label>
			                        <input type="text" placeholder="实物名称" id="name" name="name" value="{{ return.goods_name }}" disabled>
			                    </div>
			                    <div class="inline field">
			                        <label><font color="#FFFFFF">附加说明</font></label>
			                        <input type="text" placeholder="编辑说明" id="note" name="note" value="">
			                    </div>
			                  </div>
		                  </form>
		                  <div class="positive ui tiny circular button floated right  return-agree-confirm-button">确认同意</div>
		                  <script type="text/javascript">
							$(".return-agree-confirm-button").click(function(){
						    	$(this).parent().children("form").trigger("submit");
						    });
		                  </script>
	              	 </span>
	                  '>归还</a>
                        <a class="negative ui tiny circular button  agree-button" data-variation="inverted"
                           data-position="top center" data-html='
	                  <span>
		                  <h5 class="ui header">物品挂失</h5>
		                  <form  method="post" action="{% url "goods.views.do_accept_return" %}">
		                  	<input type="hidden" name="lost" value="true">
			                  <div class="ui form">
			                    <div class="inline field" hidden>
			                        <label><font color="#FFFFFF">请求编号</font></label>
			                        <input type="text" placeholder="id" id="id" name="id" value="{{ return.id }}">
			                    </div>
			                    <div class="inline field">
			                        <label><font color="#FFFFFF">实物名称</font></label>
			                        <input type="text" placeholder="实物名称" id="name" name="name" value="{{ return.goods_name }}" disabled>
			                    </div>
			                    <div class="inline field">
			                        <label><font color="#FFFFFF">附加说明</font></label>
			                        <input type="text" placeholder="编辑说明" id="note" name="note" value="">
			                    </div>
			                  </div>
		                  </form>
		                  <div class="positive ui tiny circular button floated right  return-agree-confirm-button">确认挂失</div>
		                  <script type="text/javascript">
							$(".return-agree-confirm-button").click(function(){
						    	$(this).parent().children("form").trigger("submit");
						    });
		                  </script>
	              	 </span>
	                  '>挂失</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="ui divider"></div>
    {% endif %}
    <!--已同意借用的请求列表-->
    {% if borrow_pending_requests %}
        <h3 id="bp-r" class="ui header top attached" style="margin-top:10px">已同意<font color="#F05940">借用</font>的列表</h3>
        <table class="ui table segment small attached">
            <thead>
            <tr>
                <th>SN</th>
                <th>实物</th>
                <th>借用者</th>
                <th>说明</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for borrow in borrow_pending_requests %}
                <tr>
                    <td>{{ borrow.sn }}</td>
                    <td>{{ borrow.goods_name }}</td>
                    <td>{{ borrow.borrower_name }}</td>
                    <td>{{ borrow.note }}</td>
                    <td>
                        <a class="positive ui tiny circular button agree-button" data-variation="inverted"
                           data-position="top center" data-html='
	                  <span>
		                  <h5 class="ui header">确认已经借出</h5>
		                  <form  method="post" action="{% url "goods.views.do_finish_borrow" %}">
			                  <div class="ui form">
			                    <div class="inline field" hidden>
			                        <label><font color="#FFFFFF">请求编号</font></label>
			                        <input type="text" placeholder="id" id="id" name="id" value="{{ borrow.id }}">
			                    </div>
			                    <div class="inline field">
			                        <label><font color="#FFFFFF">实物名称</font></label>
			                        <input type="text" placeholder="实物名称" id="name" name="name" value="{{ borrow.goods_name }}" disabled>
			                    </div>
			                    <p>请确认该实物资源已经被借用者取走！</p><br/>
			                  </div>
		                  </form>
		                  <div class="positive ui tiny circular button floated right fluid borrow-pending-agree-confirm-button">确认已经借出</div>
		                  <script type="text/javascript">
							$(".borrow-pending-agree-confirm-button").click(function(){
						    	$(this).parent().children("form").trigger("submit");
						    });
		                  </script>
	              	 </span>
	                  '>确认借出</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="ui divider"></div>
    {% endif %}

    <!--已同意归还的请求列表-->
    {% if return_pending_requests %}
        <h3 id="rp-r" class="ui header top attached" style="margin-top:10px">已同意<font color="#F05940">归还</font>的列表</h3>
        <table class="ui table segment small attached">
            <thead>
            <tr>
                <th>SN</th>
                <th>实物</th>
                <th>借用者</th>
                <th>说明</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for return in return_pending_requests %}
                <tr>
                    <td>{{ return.sn }}</td>
                    <td>{{ return.goods_name }}</td>
                    <td>{{ return.borrower_name }}</td>
                    <td>{{ return.note }}</td>
                    <td>
                        <a class="positive ui tiny circular button  agree-button" data-variation="inverted"
                           data-position="top center" data-html='
	                  <span>
		                  <h5 class="ui header">确认已经归还</h5>
		                  <form  method="post" action="{% url "goods.views.do_finish_return" %}">
		                  	<input type="hidden" name="intact" value="true">
			                  <div class="ui form">
			                    <div class="inline field" hidden>
			                        <label><font color="#FFFFFF">请求编号</font></label>
			                        <input type="text" placeholder="id" id="id" name="id" value="{{ return.id }}">
			                    </div>
			                    <div class="inline field">
			                        <label><font color="#FFFFFF">实物名称</font></label>
			                        <input type="text" placeholder="实物名称" id="name" name="name" value="{{ return.goods_name }}" disabled>
			                    </div>
			                    <p>请确认该实物资源已归还到位并入库！</p><br/>
			                  </div>
		                  </form>
		                  <div class="positive ui tiny circular button floated right fluid return-pending-agree-confirm-button">确认已经归还</div>
		                  <script type="text/javascript">
							$(".return-pending-agree-confirm-button").click(function(){
						    	$(this).parent().children("form").trigger("submit");
						    });
		                  </script>
	              	 </span>
	                  '>确认归还
                        </a>
                        <a class="negative ui tiny circular button  agree-button" data-variation="inverted"
                           data-position="top center" data-html='
	                  <span>
		                  <h5 class="ui header">确认物品损坏</h5>
		                  <form  method="post" action="{% url "goods.views.do_finish_return" %}">
		                  	<input type="hidden" name="intact" value="false">
			                  <div class="ui form">
			                    <div class="inline field" hidden>
			                        <label><font color="#FFFFFF">请求编号</font></label>
			                        <input type="text" placeholder="id" id="id" name="id" value="{{ return.id }}">
			                    </div>
			                    <div class="inline field">
			                        <label><font color="#FFFFFF">实物名称</font></label>
			                        <input type="text" placeholder="实物名称" id="name" name="name" value="{{ return.goods_name }}" disabled>
			                    </div>
			                    <p>请确认该实物资源已经损坏！</p><br/>
			                  </div>
		                  </form>
		                  <div class="positive ui tiny circular button floated right fluid return-pending-agree-confirm-button">确认损坏</div>
		                  <script type="text/javascript">
							$(".return-pending-agree-confirm-button").click(function(){
						    	$(this).parent().children("form").trigger("submit");
						    });
		                  </script>
	              	 </span>
	                  '>物品损坏
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="ui divider"></div>
    {% endif %}
    <!--待审核维修的列表-->
    {% if torepair_requests %}
        <h3 id="tr-r" class="ui header top attached" style="margin-top:10px">待审核<font color="#F05940">维修</font>的列表</h3>
        <table class="ui table segment small attached">
            <thead>
            <tr>
                <th>SN</th>
                <th>实物</th>
                <th>借用者</th>
                <th>说明</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in torepair_requests %}
                <tr>
                    <td>{{ item.sn }}</td>
                    <td>{{ item.goods_name }}</td>
                    <td>{{ item.borrower_name }}</td>
                    <td>{{ item.note }}</td>
                    <td>
                        <a class="positive ui tiny circular button  agree-button" data-variation="inverted"
                           data-position="top center" data-html='
	                  <span>
		                  <h5 class="ui header">同意维修</h5>
		                  <form  method="post" action="{% url "goods.views.do_accept_repair" %}">
			                  <div class="ui form">
			              			<input type="hidden" name="id" value="{{ item.id }}">
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物SN</font></label>
			                        <input type="text" placeholder="id" name="id" value="{{ item.sn }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物名称</font></label>
			                        <input type="text" placeholder="实物名称" name="name" value="{{ item.goods_name }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">说明</font></label>
			                        <input type="text" name="note">
			                    </div>
			                  </div>
			                  <button type="submit" class="ui tiny circular button floated right fluid positive">同意</button>
		                  </form>
	              	 </span>
	                  '>同意
                        </a>
                        <a class="negative ui tiny circular button  agree-button" data-variation="inverted"
                           data-position="top center" data-html='
	                  <span>
		                  <h5 class="ui header">拒绝维修</h5>
		                  <form  method="post" action="{% url "goods.views.do_reject_repair" %}">
			                  <div class="ui form">
			              			<input type="hidden" name="id" value="{{ item.id }}">
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物SN</font></label>
			                        <input type="text" placeholder="id" name="id" value="{{ item.sn }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物名称</font></label>
			                        <input type="text" placeholder="实物名称" name="name" value="{{ item.goods_name }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">说明</font></label>
			                        <input type="text" name="note">
			                    </div>
			                  </div>
			                  <button type="submit" class="ui tiny circular button floated right fluid negative">拒绝</button>
		                  </form>
	              	 </span>
	                  '>拒绝
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="ui divider"></div>
    {% endif %}
    <!--已同意维修的列表-->
    {% if repair_requests %}
        <h3 td="rr-r" class="ui header top attached" style="margin-top:10px">已同意<font color="#F05940">维修</font>的列表</h3>
        <table class="ui table segment small attached">
            <thead>
            <tr>
                <th>SN</th>
                <th>实物</th>
                <th>借用者</th>
                <th>说明</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in repair_requests %}
                <tr>
                    <td>{{ item.sn }}</td>
                    <td>{{ item.goods_name }}</td>
                    <td>{{ item.borrower_name }}</td>
                    <td>{{ item.note }}</td>
                    <td>
                        <a class="positive ui tiny circular button  agree-button" data-variation="inverted"
                           data-position="top center" data-html='
	                  <span>
		                  <h5 class="ui header">请确认已收到实物</h5>
		                  <form  method="post" action="{% url "goods.views.do_start_repair" %}">
			                  <div class="ui form">
			              			<input type="hidden" name="id" value="{{ item.id }}">
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物SN</font></label>
			                        <input type="text" placeholder="id" name="id" value="{{ item.sn }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物名称</font></label>
			                        <input type="text" placeholder="实物名称" name="name" value="{{ item.goods_name }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">说明</font></label>
			                        <input type="text" name="note">
			                    </div>
			                  </div>
			                  <button type="submit" class="ui tiny circular button floated right fluid positive">确认</button>
		                  </form>
	              	 </span>
	                  '>确认维修
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="ui divider"></div>
    {% endif %}

    <!--维修中的列表-->
    {% if repairing_requests %}
        <h3 id="ri-r" class="ui header top attached" style="margin-top:10px"><font color="#F05940">维修中</font>的列表</h3>
        <table class="ui table segment small attached">
            <thead>
            <tr>
                <th>SN</th>
                <th>实物</th>
                <th>借用者</th>
                <th>说明</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in repairing_requests %}
                <tr>
                    <td>{{ item.sn }}</td>
                    <td>{{ item.goods_name }}</td>
                    <td>{{ item.borrower_name }}</td>
                    <td>{{ item.note }}</td>
                    <td>
                        <a class="positive ui tiny circular button  agree-button" data-variation="inverted"
                           data-position="top center" data-html='
	                  <span>
		                  <h5 class="ui header">请确认实物维修完成</h5>
		                  <form  method="post" action="{% url "goods.views.do_finish_repair" %}">
			                  <div class="ui form">
			              			<input type="hidden" name="id" value="{{ item.id }}">
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物SN</font></label>
			                        <input type="text" placeholder="id" name="id" value="{{ item.sn }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物名称</font></label>
			                        <input type="text" placeholder="实物名称" name="name" value="{{ item.goods_name }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">说明</font></label>
			                        <input type="text" name="note">
			                    </div>
			                  </div>
			                  <button type="submit" class="ui tiny circular button floated right fluid positive">确认</button>
		                  </form>
	              	 </span>
	                  '>维修完成
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="ui divider"></div>
    {% endif %}
    <!--维修完成的列表-->
    {% if repaired_requests %}
        <h3 id="rd-r" class="ui header top attached" style="margin-top:10px"><font color="#F05940">维修</font>完成的列表</h3>
        <table class="ui table segment small attached">
            <thead>
            <tr>
                <th>SN</th>
                <th>实物</th>
                <th>借用者</th>
                <th>说明</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in repaired_requests %}
                <tr>
                    <td>{{ item.sn }}</td>
                    <td>{{ item.goods_name }}</td>
                    <td>{{ item.borrower_name }}</td>
                    <td>{{ item.note }}</td>
                    <td>
                        <a class="positive ui tiny circular button  agree-button" data-variation="inverted"
                           data-position="top center" data-html='
	                  <span>
		                  <h5 class="ui header">请确认用户取回物品</h5>
		                  <form  method="post" action="{% url "goods.views.do_return_repair" %}">
			                  <div class="ui form">
			              			<input type="hidden" name="id" value="{{ item.id }}">
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物SN</font></label>
			                        <input type="text" placeholder="id" name="id" value="{{ item.sn }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物名称</font></label>
			                        <input type="text" placeholder="实物名称" name="name" value="{{ item.goods_name }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">说明</font></label>
			                        <input type="text" name="note">
			                    </div>
			                  </div>
			                  <button type="submit" class="ui tiny circular button floated right fluid positive">确认取回</button>
		                  </form>
	              	 </span>
	                  '>确认取回
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="ui divider"></div>
    {% endif %}
    <!--待审核销毁的列表-->
    {% if todestroy_requests %}
        <h3 id="td-r" class="ui header top attached" style="margin-top:10px">待审核<font color="#F05940">销毁</font>的列表</h3>
        <table class="ui table segment small attached">
            <thead>
            <tr>
                <th>SN</th>
                <th>实物</th>
                <th>借用者</th>
                <th>原因</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in todestroy_requests %}
                <tr>
                    <td>{{ item.sn }}</td>
                    <td>{{ item.goods_name }}</td>
                    <td>{{ item.borrower_name }}</td>
                    <td>{{ item.note }}</td>
                    <td>
                        <a class="positive ui tiny circular button  agree-button" data-variation="inverted"
                           data-position="top center" data-html='
	                  <span>
		                  <h5 class="ui header">同意销毁</h5>
		                  <form  method="post" action="{% url "goods.views.do_accept_destroy" %}">
			                  <div class="ui form">
			              			<input type="hidden" name="id" value="{{ item.id }}">
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物SN</font></label>
			                        <input type="text" placeholder="id" name="id" value="{{ item.sn }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物名称</font></label>
			                        <input type="text" placeholder="实物名称" name="name" value="{{ item.goods_name }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">说明</font></label>
			                        <input type="text" name="note" placeholder="说明">
			                    </div>
			                  </div>
			                  <button type="submit" class="ui tiny circular button floated right fluid positive">同意</button>
		                  </form>
	              	 </span>
	                  '>同意
                        </a>
                        <a class="negative ui tiny circular button  agree-button" data-variation="inverted"
                           data-position="top center" data-html='
	                  <span>
		                  <h5 class="ui header">拒绝销毁</h5>
		                  <form  method="post" action="{% url "goods.views.do_reject_destroy" %}">
			                  <div class="ui form">
			              			<input type="hidden" name="id" value="{{ item.id }}">
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物SN</font></label>
			                        <input type="text" placeholder="id" name="id" value="{{ item.sn }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物名称</font></label>
			                        <input type="text" placeholder="实物名称" name="name" value="{{ item.goods_name }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">说明</font></label>
			                        <input type="text" name="note">
			                    </div>
			                  </div>
			                  <button type="submit" class="ui tiny circular button floated right fluid negative">拒绝</button>
		                  </form>
	              	 </span>
	                  '>拒绝
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="ui divider"></div>
    {% endif %}

	<!--待审核采购的列表-->
    {% if togoods_apply_requests %}
        <h3 id="ga-r" class="ui header top attached" style="margin-top:10px">待审核<font color="#F05940">采购</font>的列表</h3>
        <table class="ui table segment small attached">
            <thead>
            <tr>
                <th>SN</th>
                <th>实物名称</th>
                <th>申请者</th>
                <th>原因</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in togoods_apply_requests %}
                <tr>
                    <td>{{ item.sn }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.applyer_name }}</td>
                    <td>{{ item.note }}</td>
                    <td>
                        <a class="positive ui tiny circular button  agree-button" data-variation="inverted"
                           data-position="top center" data-html='
	                  <span>
		                  <h5 class="ui header">同意采购</h5>
		                  <form  method="post" action="{% url "goods.views.do_accept_apply_goods" %}">
			                  <div class="ui form">
			              			<input type="hidden" name="id" value="{{ item.id }}">
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物SN</font></label>
			                        <input type="text" placeholder="id" name="id" value="{{ item.sn }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物名称</font></label>
			                        <input type="text" placeholder="实物名称" name="name" value="{{ item.name }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">说明</font></label>
			                        <input type="text" name="note" placeholder="说明">
			                    </div>
			                  </div>
			                  <button type="submit" class="ui tiny circular button floated right fluid positive">同意</button>
		                  </form>
	              	 </span>
	                  '>同意
                        </a>
                        <a class="negative ui tiny circular button  agree-button" data-variation="inverted"
                           data-position="top center" data-html='
	                  <span>
		                  <h5 class="ui header">拒绝采购</h5>
		                  <form  method="post" action="{% url "goods.views.do_reject_apply_goods" %}">
			                  <div class="ui form">
			              			<input type="hidden" name="id" value="{{ item.id }}">
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物SN</font></label>
			                        <input type="text" placeholder="id" name="id" value="{{ item.sn }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">实物名称</font></label>
			                        <input type="text" placeholder="实物名称" name="name" value="{{ item.name }}" disabled>
			                    </div>
			                    <div class="field">
			                        <label><font color="#FFFFFF">说明</font></label>
			                        <input type="text" name="note">
			                    </div>
			                  </div>
			                  <button type="submit" class="ui tiny circular button floated right fluid negative">拒绝</button>
		                  </form>
	              	 </span>
	                  '>拒绝
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="ui divider"></div>
    {% endif %}


{% endblock %}

{% block js %}

    <script type="text/javascript">
        $(function () {
            $('.agree-button').popup({
                on: 'click'
            });
            $('.reject-button').popup({
                on: 'click'
            });
        });

    </script>

{% endblock %}